# TESTED ON PYTHON 3.9, THERE MAY BE OTHER PACKAGES JUST ADD THEM HERE IF YOU FIND THEM
# You can just run setup.sh and it will handle all of this, and get the data!

torch==2.0.1
pyarrow==13.0.0
pandas==1.3.4
einops==0.6.1
yfinance==0.2.30
numpy==1.24.4
tqdm==4.66.1
